@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

img {
    max-width: 100%;
    display: block;
}

html {
    font-family: sans-serif;
    font-size: 1rem;
    background-color: #FFFFFF;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}

/* Mobile menu */
nav {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-height: 130px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav {
    display: none;
}

.logo_container img {
    max-width: 50%;
}

.nav_container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.menu_container>span {
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.utils {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.portal_btn a {
    color: #107001;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1rem;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #107001;
    border-radius: 10px;
    text-align: center;
    padding: .5rem 1rem;
}

/* Mobile hero section */
.hero_section {
    background: linear-gradient(275.23deg, #3AC01A -0.39%, rgba(0, 0, 0, 0.81) 94.9%);
    height: 400px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    color: #FFFFFF;
}

.hero_section img {
    width: 1.3rem;
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero_content .hero_school_title {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 200;
    line-height: 25px;
    text-transform: capitalize;
}

.hero_content .bold_hero_text {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 27px;
    text-transform: capitalize;
}

.hero_content .long_hero_text {
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px;
}

.course_details {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.course_details div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.course_details>div>p {
    text-transform: capitalize;
    font-size: 12px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 9px;
}

.payment_form {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 11px 8px 11px 8px;
    border-radius: 5px;
    width: 200px;
    height: 83.63px;
    gap: 10px;
}

.form_block {
    display: flex;
    color: #000000;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: "Urbanist", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: 0em;
    text-align: left;
}

.form_btn a {
    text-decoration: none;
    background-color: #219653;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    font-family: "Permanent Marker", cursive;
    font-size: 1rem;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: 0em;
    gap: 3px;
    text-transform: capitalize;
    border-radius: 3.84px;
    padding: 12px 40px;
}

.form_btn a .material-symbols-outlined {
    font-size: 1.2rem;
}

.form_btn a:hover {
    gap: 10px;
    transition: all 1s ease-in-out;
}

/* Mobile Main contents */
.main_content {
    width: 100%;
}

.tab_box {
    background-color: #F5F6FB;
    height: 43px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    padding: .9rem 3rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.tab_box .tab_btn {
    background: none;
    border: none;
    color: #1C1C1C;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: .8rem;
    line-height: 12.83px;
    text-transform: capitalize;
}

.tab_box .tab_btn.active {
    color: gray;
}

.content_box {
    padding: .9rem 3rem;
}

.content_box .content {
    display: none;
    animation: moving .5s ease;
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.content_box .content.active {
    display: block;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.content li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.content h2 {
    color: #1C1C1C;
    text-transform: capitalize;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
}

.content p {
    color: #1C1C1C;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
}

.content .web {
    display: none;
}

.line {
    position: absolute;
    top: 70px;
    left: 50px;
    width: 52px;
    height: 3px;
    background-color: #219653;
    border-radius: 1.92px;
    transition: all .3s ease-in-out;
}

/* Mobile footer section */
footer {
    background-color: #0A142F;
    padding: 3.5rem;
    margin-top: 20px;
}

.footer_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_contents .footer_logo img {
    max-width: 180px;
    height: 100px;
}

.footer_contents ul {
    list-style: none;
}

.footer_contents ul li {
    padding: .8rem;
}

.footer_contents ul li a {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 21.6px;
    text-decoration: none;
    margin: 1.5rem;
}

.footer_contents .quick_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.footer_contents .contact_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.footer_contents .contact_details {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 21.6px;
    text-decoration: none;
}

.hidden_mobile_contact,
.footer_line {
    display: none;
}

.hidden_desk_contact>p>span {
    font-weight: 900;
    line-height: 15.12px;
}

.footer_contents .title {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 19.44px;
    text-transform: capitalize;
}

.socials {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.social_handles {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.copy_rights {
    display: none;
}

@media only screen and (min-width: 600px) {

    /* nav */
    nav {
        padding: 1rem 2rem;
    }

    /* hero section */
    .hero_section {
        padding: 1.5rem 2rem;
    }

    .hero_content .hero_school_title {
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 28px;
        text-transform: capitalize;
    }

    .hero_content .bold_hero_text {
        font-family: "Poppins", sans-serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 68px;
        text-transform: capitalize;
    }

    .hero_content .long_hero_text {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
    }

    /* main contents */
    .tab_box .tab_btn {
        font-size: 15px;
    }

    .content h2 {
        color: #1C1C1C;
        text-transform: capitalize;
        font-family: "Urbanist", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
    }

    .content p {
        color: #1C1C1C;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 28px;
    }
}

@media only screen and (min-width: 768px) {

    /* Nav bar section */
    .menu_container {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    .logo_container img {
        width: 100%;
    }

    .nav {
        list-style: none;
        display: flex;
    }

    .nav_item {
        text-align: center;
        padding: .5rem;
    }

    .nav_item a {
        padding: 0.75rem .8rem;
        text-decoration: none;
        text-transform: capitalize;
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #000000;
        font-size: 1rem;
        line-height: 26px;
    }

    .nav_item a:hover {
        color: #107001;
        transition: all 0.25s ease-in-out;
    }

    .portal_btn {
        display: flex;
    }

    .portal_btn a {
        color: #107001;
        text-transform: uppercase !important;
        font-weight: 600;
        border: 1px solid #107001;
        border-radius: 10px;
        padding: 6px 20px;
    }

    .portal_btn a:hover {
        background-color: #107001;
        color: #FFFFFF;
        transition: all 0.25s ease-in-out;
    }

    /* hero section */
    .hero_section {
        background: linear-gradient(275.23deg, #3AC01A -0.39%, rgba(0, 0, 0, 0.81) 94.9%);
        height: 400px;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        color: #FFFFFF;
    }

    .hero_section img {
        width: 1.3rem;
    }

    .hero_content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero_content .hero_school_title {
        font-family: "Poppins", sans-serif;
        font-size: 19px;
        font-weight: 400;
        line-height: 32px;
        text-transform: capitalize;
    }

    .hero_content .bold_hero_text {
        font-family: "Poppins", sans-serif;
        font-size: 57px;
        font-weight: 400;
        line-height: 68px;
        text-transform: capitalize;
    }

    .hero_content .long_hero_text {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }

    .course_details {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;
    }

    .course_details div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    .course_details>div>p {
        text-transform: capitalize;
        font-size: 12px;
        font-family: "Urbanist", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height: 9px;
    }

    .payment_form {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        align-self: flex-end;
        padding: 11px 8px 11px 8px;
        border-radius: 5px;
        width: 200px;
        height: 83.63px;
        gap: 10px;
    }

    .form_block {
        display: flex;
        color: #000000;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-family: "Urbanist", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 9px;
        letter-spacing: 0em;
        text-align: left;
    }

    .form_btn a {
        text-decoration: none;
        background-color: #219653;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        font-family: "Permanent Marker", cursive;
        font-size: 1rem;
        font-weight: 400;
        line-height: 8px;
        letter-spacing: 0em;
        gap: 3px;
        text-transform: capitalize;
        border-radius: 3.84px;
        padding: 12px 40px;
    }

    .form_btn a .material-symbols-outlined {
        font-size: 1.2rem;
    }

    .form_btn a:hover {
        gap: 10px;
        transition: all 1s ease-in-out;
    }

    /* main contents */
    .tab_box .tab_btn {
        font-size: 23px;
    }

    .content {
        padding-top: 30px;
    }

    .content h2 {
        color: #1C1C1C;
        text-transform: capitalize;
        font-family: "Urbanist", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
    }

    .content p {
        color: #1C1C1C;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 35px;
    }

    /* footer */
    .hidden_desk_contact {
        display: none;
    }

    .hidden_mobile_contact {
        display: flex;
    }

    .footer_contents {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .socials {
        padding-top: 0;
    }

    .footer_contents .quick_links {
        padding: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer_contents .quick_links li a {
        padding: 0;
        margin: 0;
    }

    .footer_line {
        display: flex;
        background-color: #FFFFFF;
        width: 100%;
        height: 0.42px;
        margin: 1rem;
    }

    .copy_rights {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .copy_rights p {
        color: #FFFFFF;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 10px;
        text-transform: capitalize;
        letter-spacing: 0.5px;
    }

}

@media only screen and (min-width: 992px) {

    /* Nav bar section */
    .menu_container {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    .logo_container img {
        width: 100%;
    }

    .nav {
        list-style: none;
        display: flex;
    }

    .nav_item {
        text-align: center;
        padding: .5rem;
    }

    .nav_item a {
        padding: 0.75rem .8rem;
        text-decoration: none;
        text-transform: capitalize;
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #000000;
        font-size: 1rem;
        line-height: 26px;
    }

    .nav_item a:hover {
        color: #107001;
        transition: all 0.25s ease-in-out;
    }

    .portal_btn {
        display: flex;
    }

    .portal_btn a {
        color: #107001;
        text-transform: uppercase !important;
        font-weight: 600;
        border: 1px solid #107001;
        border-radius: 10px;
        padding: 6px 20px;
    }

    .portal_btn a:hover {
        background-color: #107001;
        color: #FFFFFF;
        transition: all 0.25s ease-in-out;
    }

    /* Hero section */
    .hero_content .hero_school_title {
        font-family: "Poppins", sans-serif;
        font-size: 19px;
        font-weight: 400;
        line-height: 32px;
        text-transform: capitalize;
    }

    .hero_content .bold_hero_text {
        font-family: "Poppins", sans-serif;
        font-size: 57px;
        font-weight: 400;
        line-height: 68px;
        text-transform: capitalize;
    }

    .hero_content .long_hero_text {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
    }

    .course_details {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;
    }

    .course_details div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    .course_details>div>p {
        text-transform: capitalize;
        font-size: 16px;
        font-family: "Urbanist", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height: 9px;
    }

    .payment_form {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 11px 8px 11px 8px;
        border-radius: 5px;
        width: 250px;
        height: 93.63px;
        gap: 1px;
        align-self: flex-end;
    }

    .form_block {
        display: flex;
        color: #000000;
        align-items: center;
        justify-content: center;
        gap: 12px;
        font-family: "Urbanist", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 9px;
        letter-spacing: 0em;
        text-align: left;
    }

    .form_btn a {
        text-decoration: none;
        background-color: #219653;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        font-family: "Permanent Marker", cursive;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 8px;
        letter-spacing: 0em;
        gap: 3px;
        text-transform: capitalize;
        border-radius: 3.84px;
        padding: 12px 40px;
    }

    .form_btn a .material-symbols-outlined {
        font-size: 1.2rem;
    }

    .form_btn a:hover {
        gap: 10px;
        transition: all 1s ease-in-out;
    }

    /* Main content section */
    .content_box {
        padding-top: 50px;
    }

    .tab_box .tab_btn {
        font-size: 1rem;
        line-height: 12.83px;
    }

    .content h2 {
        color: #1C1C1C;
        text-transform: capitalize;
        font-family: "Urbanist", sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 23px;
    }

    .content p {
        color: #1C1C1C;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 28px;
    }

    .content .web {
        display: block;
    }

    .content .web a {
        color: #219653;
        text-decoration: underline;
        text-decoration-color: #219653;
    }

    .content .mobile {
        display: none;
    }

    /* footer */
    .hidden_desk_contact {
        display: none;
    }

    .hidden_mobile_contact {
        display: flex;
    }

    .footer_contents {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .socials {
        padding-top: 0;
    }

    .footer_contents .quick_links {
        padding: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer_contents .quick_links li a {
        padding: 0;
        margin: 0;
    }

    .footer_line {
        display: flex;
        background-color: #FFFFFF;
        width: 100%;
        height: 0.42px;
        margin: 1rem;
    }

    .copy_rights {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .copy_rights p {
        color: #FFFFFF;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 10px;
        text-transform: capitalize;
        letter-spacing: 0.5px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero_section {
        height: 550px;
    }

    .hero_content .hero_school_title {
        font-family: "Poppins", sans-serif;
        font-size: 23px;
        font-weight: 300;
        line-height: 32px;
        text-transform: capitalize;
    }

    .hero_content .bold_hero_text {
        font-family: "Poppins", sans-serif;
        font-size: 64px;
        font-weight: 400;
        line-height: 68px;
        text-transform: capitalize;
    }

    .hero_content .long_hero_text {
        font-family: "Poppins", sans-serif;
        font-size: 32px;
        font-weight: 300;
        line-height: 46px;
    }

    .course_details {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;
    }

    .course_details div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    .course_details>div>p {
        text-transform: capitalize;
        font-size: 17px;
        font-family: "Urbanist", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height: 9px;
    }

    .payment_form {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 11px 8px 11px 8px;
        border-radius: 5px;
        width: 300px;
        height: 100px;
        gap: 1px;
        align-self: flex-end;
    }

    .form_block {
        display: flex;
        color: #000000;
        align-items: center;
        justify-content: center;
        gap: 12px;
        font-family: "Urbanist", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 9px;
        letter-spacing: 0em;
        text-align: left;
    }

    .form_btn a {
        font-size: 1.5rem;
        line-height: 15px;
        padding: 15px 50px;
    }

    .form_btn a .material-symbols-outlined {
        font-size: 1.5rem;
    }

    /* Main content section */
    .content_box {
        padding-top: 50px;
    }

    .tab_box .tab_btn {
        font-size: 1.2rem;
        line-height: 15px;
    }

    .content h2 {
        color: #1C1C1C;
        text-transform: capitalize;
        font-family: "Urbanist", sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 23px;
    }

    .content p {
        color: #1C1C1C;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 28px;
    }
}